
body {
	font-family: "Coming Soon", cursive;
	margin: 0;
	background-color: #ECF0F1;
}

#header_svg{
	width: 80%;
	margin: 0 10% 0 10%;
}

a {
	color: #06f;
}
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.4em;
	text-align: center;
}
h2, h3, h4 {
	margin-top: 0;
}
h3, h4 {
	margin-bottom: 0.5em;
}

p, ul {
	font-size: 0.8125em;
	line-height: 1.5;
	margin: 0 0 1.5em;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 30%;
	background-repeat: no-repeat;
	background-size: cover;
}
.imgNormal {
  border: 5px solid rgba(0,0,0, 0.0);
}
.imgPicked {
  border: 5px solid rgba(52,152,219,0.5);
}
#divStats {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#vac_input {
	visibility: hidden;
}
button{
	border: none;
	display: block;
	margin: 0 auto;
	width:150px;
	height: 30px;
}
button:hover{
	background-color: #3498DB;
}

button:active{
	background-color: #E74C3C;
}
#you_suck, #usr_submit {
	visibility: hidden;
}
/*#btnVote{
  font-size: 2rem;
  margin-top: 10px;
  style: inset;
}

#btnNew{
  display: none;
  font-size: 2rem;
  margin-top: 10px;
  style: inset;
}*/

code {
	font-size: 1.2727em;
	color: #777;
}
iframe {
	border: 0;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	max-width: 90em;
	padding: 1em 0;
}

.footer {
	padding-top: 1.5em;
}
.desc {
	color: #888;
}
.intro {
	border-bottom: 1px dotted #bbb;
	padding-bottom: 1.5em;
}
.social {
	border-top: 1px dotted #bbb;
	padding-top: 1.5em;
}
.footer {
	border-top: 1px dotted #aaa;
}
.content {
	border-bottom: 1px dotted #aaa;
	margin-bottom: 1.5em;
}

@media only screen and (min-width: 34em) {
	p, ul {
		font-size: 0.875em;
	}
	.feature:first-child,
	.info:first-child {
		border-right: 1px dotted #aaa;
	}
	.container {
		padding: 1em;
	}
	h1 {
		font-size: 2.6em;
	}
	h2 {
		font-size: 1.6em;
	}
}

@media only screen and (min-width: 54em) {
	.content {
		border: none;
		border-right: 1px dotted #aaa;
		margin-bottom: 0;
	}
	.info:first-child {
		border: none;
	}
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.7em;
	}
}

@media only screen and (min-width: 76em) {
	.info:first-child {
		border-right: 1px dotted #aaa;
	}
	h1 {
		font-size: 3.2em;
	}
	h2 {
		font-size: 1.8em;
	}
}
