@import url(https://fonts.googleapis.com/css?family=Abel);
/* @import url(https://fonts.googleapis.com/css?family=Muli); */

body {
  font-family: 'Abel', Arial, sans-serif;
  color: #fff;
  background-color: #383010;
}

p { font-size: 1.2rem }

img {
  max-width:  350px;
  max-height: 350px;
  margin: 2px;
  vertical-align: middle;
}

#divImgs{
 display: block;
 text-align: center;
}
.imgNormal {
  border: 20px solid rgba(0,0,0, 0.0);
}
.imgPicked {
  border: 20px solid red;
}

.imgLeft = { float: left; }

#btnVote{
  font-size: 2rem;
  margin-top: 10px;
  style: inset;
}

#btnNew{
  display: none;
  visibility: hidden;
}